b<html>
<head>
<title id="title"></title>

      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <!-- Bootstrap 3.3.7 -->

    <link href="//fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400,500,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="bower_components/css/font-awesome.css"  media="all">
    <link rel="stylesheet" href="bower_components/css/style.css"  media="all">
    <link rel="stylesheet" href="dist/css/style.css"  media="all">
      <!-- Font Awesome -->
      <!-- Ionicons -->

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>



      <![endif]-->
      <script src="ejs.js"></script>
      <script src="ejs.min.js"></script>

      <!-- Google Font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body ng-app="susApp"  ng-controller="loanCycleCtr">
    <h1 class="title-agile text-center" id="logo_heading"> Main Heading</h1>
   <div class="copyright text-center"> <p  id="logo_heading_bottom">Heading Bottom Line</p>
       </div>
    <div class="content-w3ls">
        <div class="content-top-agile">
            <h2 id="sign_div_heading">sign in</h2>
        </div>
        <div class="content-bottom">
            <form action="/nonSSO_insertForm/5" method="post" id="forgetPassword_form">
                <div class="field-group">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input  id="text1" name="email" type="email" value="" placeholder="Email" required>
                    </div>
                </div>


                <div class="wthree-field">
                    <input id="saveForm" type="submit" />
                </div>
            </form>
        </div>
    </div>
   <div class="copyright text-center">
        <p id="footer_line">
        </p>
    </div>

</body>
<!-- //Body -->

  <% include ../include/globalization.ejs
    %>

<!-------Globalization must be included at the end of Page---->

<!-- jQuery 3 -->

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script >
//eval('toast("dd");');

function langData() {

    $.ajax({
            type: "GET",
            url: "/getHotelsList",
            contentType: 'application/json',
            success: function (result) {
                //alert('d');
               // $('#hlist').empty();
                //alert(JSON.stringify(result));
                for (var i = 0; i < result["data"].length; i++) {

                    $('#hlist').append('<option value="'+result["data"][i].location_id+'">'+result["data"][i].hotel_name+'</option>');

                }
                hideLoad();




            }
        }
    );

}
langData();

$('#student_formBySId').on('submit', function (e) {

    e.preventDefault();
    var fdata = new FormData(document.getElementById('student_formBySId'));
    var object = {};
    fdata.forEach(function (value, key) {
        object[key] = value;
    });
    var json = JSON.stringify(object);

    showLoad();
    $.ajax({
        type: 'POST',
        url: $('#student_formBySId').attr('action'),
        dataType: "json",
        contentType: "application/json",
        data: json,
        success: function (data1) {

            hideLoad();


            //alert(data1.message);
            //$('#track_upload_panel').fadeIn(1000);

            $('#studentModal').modal('hide');
            toast(data1.message + "");
            $('#student_form_by_class').submit();

            //document.getElementById('student_form').reset();

        }
    });

});

</script>
          </html>
