<html>
<head>
<title id="title"></title>

      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <!-- Bootstrap 3.3.7 -->

    <link href="//fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400,500,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="bower_components/css/font-awesome.css"  media="all">
    <link rel="stylesheet" href="bower_components/css/style.css"  media="all">
      <!-- Font Awesome -->
      <!-- Ionicons -->

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>



      <![endif]-->
      <script src="ejs.js"></script>
      <script src="ejs.min.js"></script>

      <!-- Google Font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body ng-app="susApp"  ng-controller="loanCycleCtr">
    <h1 class="title-agile text-center" id="logo_heading"> Main Heading</h1>
   <div class="copyright text-center"> <p  id="logo_heading_bottom">Heading Bottom Line</p>
       </div>
    <center><div style="box-shadow:2px 2px 2px #0a0a0a; width: 80%;  padding: 10px; margin-top:8%; background-color: rgba(68,40,76,0.3);  font-size: 1.5em; color: white;">
        <div style="border-color: #0a0a0a; border: 20px; padding: 10px;">
        <i class="fa fa-info-circle"></i> <span id="sign_div_heading">sign in</span>
            </div>
    </div></center>

    <br/><br/>
    <div class="content-top copyright text-center ">
            <a href="#" id="login_btn" style="padding: 10px; background-color: #a32d00; color: #FFFFFF; border: white 2px inset;">Click here to Sign in</a>
        </div>
    <br/><br/>
   <div class="copyright text-center">
        <p id="footer_line">
        </p>
    </div>

</body>
<!-- //Body -->

  <% include ../include/globalization.ejs
    %>

<!-------Globalization must be included at the end of Page---->

<!-- jQuery 3 -->

<script src="bower_components/jquery/dist/jquery.min.js"></script>

          </html>
