
<% include ../include/web_header.ejs
%>
			<ul class="cd-radial-slider" data-radius1="60" data-radius2="1364" data-centerx1="110" data-centerx2="1290">
				<li class="visible">
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-1">
									<circle id="cd-circle-1" cx="110" cy="400" r="1364"/>
								</clipPath>
							</defs>
							<image height='800px' width="1400px" clip-path="url(#cd-image-1)" xlink:href="dist/web_img/2_new.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper -->
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div>
								<h2>Lovely<span> Clean and Elegant</span> </h2>
								<a href="#about" class="hvr-bounce-to-right read scroll">Read More</a>
							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li>
				<li class="next-slide">
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-2">
									<circle id="cd-circle-2" cx="1290" cy="400" r="60"/>
								</clipPath>
							</defs>
							<image height='800px' width="1400px" clip-path="url(#cd-image-2)" xlink:href="dist/web_img/3_new.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper -->
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div>
								<h3>Quality <span> Design Couches </span> </h3>
								<a href="#about" class="hvr-bounce-to-right read scroll">Read More</a>

							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li>
				<li>
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-3">
									<circle id="cd-circle-3" cx="110" cy="400" r="60"/>
								</clipPath>
							</defs>
							<image height='800px' width="1400px" clip-path="url(#cd-image-3)" xlink:href="dist/web_img/1_new.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper -->
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div>
								<h3>New <span>Design Couches</span> </h3>
								<a href="#about" class="hvr-bounce-to-right read scroll">Read More</a>
							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li>
				<li class="prev-slide">
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-4">
									<circle id="cd-circle-4" cx="110" cy="400" r="60"/>
								</clipPath>
							</defs>
							<image height='800px' width="1400px" clip-path="url(#cd-image-4)" xlink:href="dist/web_img/4_new.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper -->
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div>
								<h3>Select<span>Your Couches </span> </h3>
								<a href="#about" class="hvr-bounce-to-right read scroll">Read More</a>
							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li>
			</ul> <!-- .cd-radial-slider -->
			<ul class="cd-radial-slider-navigation">
				<li><a href="#0" class="next">Next</a></li>
				<li><a href="#0" class="prev">Prev</a></li>
			</ul> <!-- .cd-radial-slider-navigation -->
		</div> <!-- .cd-radial-slider-wrapper -->
	</div>
	<!-- //banner -->
	<!-- Modal1 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3>Cosy Couches</h3>
							<img src="dist/web_img/3.jpg" alt=" " class="img-responsive">
							<h5>Donec lobortis pharetra dolor</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable..</p>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal1 -->

	<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<div class="agileits-title">
				<div class="agileits-title-left">
					<h6>- Welcome to</h6>
					<h3>MB BATHROOM'S FITTER</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para">Bathroom fitting, Tilling, Under Floor Heating, Plumbing, Electrical, Plastering, Skimming, Painting and Decoration.
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			 <div class="wthree-about">
				  <div class="col-md-5 wthree-ab-left" >
				      <img " src="dist/web_img/s3.jpeg" class="responsive" alt=" " />
                  </div>
				  <div class="col-md-7 wthree-ab-right">
				     <h4>A Few Words About Us</h4>
				     <p>Founded in 2012 and based in southall London. We believe there is better way to finish your bathroom's fitting under optimal time and cost. We're
							obsessively passionate about it, and our mission is to help people to achieve it without any hesitate.</p>
					 <p>We're best in Bathroom fitting, Tilling, Under Floor Heating, Plumbing, Electrical, Plastering, Skimming, Painting and Decoration.</p>
					 <!--<a href="#" class="read2 hvr-bounce-to-right" data-toggle="modal" data-target="#myModal">Learn More</a>
-->

				  </div>
				  <div class="clearfix"></div>
			 </div>
		</div>
	</div>
	<!-- //about -->
	<!-- stats -->
	<div class="stats" id="stats">
	    <div class="container">
			<div class="inner_w3l_agile_grids">
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid">
		   	<i class="fa fa-laptop" aria-hidden="true"></i>
			<p class="counter">20</p>
			<h3>Companies</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
		   <i class="fa fa-trophy" aria-hidden="true"></i>
			<p class="counter">10</p>
			<h3>Awards</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">

		 <i class="fa fa-smile-o" aria-hidden="true"></i>
			<p class="counter">20</p>
			<h3>Members</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
		<i class="fa fa-user" aria-hidden="true"></i>
			<p class="counter">100</p>
			<h3>Customers</h3>
		</div>
		<div class="clearfix"> </div>
	</div>
   </div>
</div>
<!-- //stats -->

	<!-- services -->
	<div class="about services" id="services">
		<div class="container">
					<div class="agileits-title">
				<div class="agileits-title-left">
					<h6>- What We Offer</h6>
					<h3>Our Services</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para">We are offer below services.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		<div id="horizontalTab">
		<ul class="resp-tabs-list">
			<li><i class="fa fa-user" aria-hidden="true"></i> Free Consultation</li>
			<li><i class="fa fa-cog" aria-hidden="true"></i> Plumbing &amp; Electrical</li>
			<li><i class="fa fa-magic" aria-hidden="true"></i> Tiling &amp; Floor Heating</li>
			<li><i class="fa fa-gavel" aria-hidden="true"></i> Plastering, Skimming & Decoration</li>
		</ul>
		<div class="resp-tabs-container">

			<div class="tab1">
				<div class="col-md-6 tab-info-img">
						<img src="dist/web_img/s1.jpg" alt="img">
				</div>
				<div class="col-md-6 tab-info">
					     <h4>Design with 100% Pure Quality</h4>
						<p>We offer a one to one consultation to discuss your project and to understand what you want to achieve for your bathroom, the style, practicality and how you want your custom build to function. On appointment We will visit your home to take measurements of the room, check water pressures, electrics and makes structural observations.</p>

				</div>
				<div class="clearfix"></div>
			</div>

			<div class="tab2">

				<div class="col-md-6 tab-info">
					     <h4>It's Our Passion To Make Things Smoother.</h4>
						<p>Our team of expert plumbers, electricians, drain & sewer repair, & natural gas technicians provide you with the installation, repairs, and services you need. We handle anything from fixing your toilet plumbing problems, to repairing sewage or drainage systems.</p>
				</div>
				<div class="col-md-6 tab-info-img">
						<img src="dist/web_img/s2.jpg" alt="img">
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="tab3">

				<div class="col-md-6 tab-info-img">
						<img src="dist/web_img/s4.jpg" alt="img">
				</div>
				<div class="col-md-6 tab-info">
					     <h4>Amazing Texture's!!</h4>
							 <p>One of the biggest advantages to radiant heating is the fact that it plays against the natural tendency for hot air to rise and disperse much of the heat in your home into the space overhead where it isn’t needed.</p>
			
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="tab4">

				<div class="col-md-6 tab-info">
					     <h4>Latest  Techniques and Digital equipements</h4>
						<p>We offer Plastering & Skimming service. We use latest techniques and equipements to complete work within less time and more cleanness. </p>	
				<p>We understand your style & needs to help you create Bespoke Interiors. A few key design choices can update the vibe of your bathroom. </p></div>
						<div class="col-md-6 tab-info-img">
						<img src="dist/web_img/s3.jpeg" alt="img">
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

		</div>
	</div>
	<!-- //services -->
	<!-- features -->
	<div class="features">
		<div class="tabs w3-agileits-tabs">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#home" aria-controls="home" data-toggle="tab"><span>Planned</span></a></li>
				<li><a href="#profile" aria-controls="profile" data-toggle="tab"><span>Creative</span></a></li>
				<li><a href="#messages" aria-controls="messages" data-toggle="tab"><span>Finishing</span></a></li>
				<li><a href="#settings" aria-controls="settings" data-toggle="tab"><span>Decorative</span></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
					<div class="col-md-6 features-right">
						<div class="agileits-mid">
							<h6>- Our Features</h6>
							<h3> Plan Your Bathroom with us</h3>
						</div>
						<p>Whether you are planning a new bathroom, a bathroom remodel, or just a quick refresh, RoomSketcher makes it easy for you to create a bathroom planning with us.  </p>
					<p>.</p></div>
					<div class="col-md-6 features-left agileinfo-img">

					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane" id="profile">
					<div class="col-md-6 features-right">
						<div class="agileits-mid">
							<h6>- Our Features</h6>
							<h3> Creativity in work </h3>
						</div>
						<p>Get amazing bathroom creative design ideas and decorating inspiration from us.  </p><p>.</p><p>.</p>
					</div>
					<div class="col-md-6 features-left agileinfo-img2">

					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane" id="messages">
					<div class="col-md-6 features-right w3-agile">
						<div class="agileits-mid">
							<h6>- Our Features</h6>
							<h3> Work Finishing is our Passion</h3>
						</div>
						<p>We have experties of plastering, skimming and wooden finishing.  </p><p>.</p><p>.</p>
					</div>
					<div class="col-md-6 features-left agileinfo-img3">

					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane" id="settings">
					<div class="col-md-6 features-right">
						<div class="agileits-mid">
							<h6>- Our Features</h6>
							<h3> Virtual to Real </h3>
						</div>
						<p>We will make real to your virtual imagination.   </p><p>.</p><p>.</p>
					</div>
					<div class="col-md-6 features-left agileinfo-img4">

					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div><!-- /tabs -->
	</div>
	<!-- //features -->
	<!-- team -->
	<div id="team" class="team">
		<div class="container">
			<div class="agileits-title">
				<div class="agileits-title-left">
					<h6>- About our Team</h6>
					<h3>Amazing Team</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para">We are an enthuastic team that can work amazingly to convert your ideas to real world.</p>
				<p>We provide free consultaion for your queries and questions. Our expertise for Plumbering, Electrical, Tiling & Floor Heating. Apart from that we also have an expert team that advise and help you with Plastering, Skimming & Decoration related questions and concerns.</p></div>
				<div class="clearfix"> </div>
			</div>
			<!--<div class="team-row w3ls-team-row">
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">
					<div class="w3ls-effect">
						<img src="dist/web_img/t1.jpg" alt="img">
						<div class="view-caption">
							<h4>John Smith</h4>
							<p>Designer</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">
					<div class="w3ls-effect">
						<img src="dist/web_img/t2.jpg" alt="img">
						<div class="view-caption">
							<h4>Rosy Doe</h4>
							<p>Director</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">
					<div class="w3ls-effect">
						<img src="dist/web_img/t3.jpg" alt="img">
						<div class="view-caption">
							<h4>Smith Kevin</h4>
							<p>Designer</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">
					<div class="w3ls-effect">
						<img src="dist/web_img/t4.jpg" alt="img">
						<div class="view-caption">
							<h4>Laura Hill</h4>
							<p>Manager</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			--></div>
		</div>
	</div>
	<!-- //team -->
	<!-- gallery -->
	<div id="gallery" class="gallery">
		<div class="container">
			<div class="agileits-title">
				<div class="agileits-title-left">
					<h6 class="two">- Latest Designs</h6>
					<h3>Our Gallery</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para two">We are worked with large number of clients.Explore Our Workarea!!</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="agileinfo-gallery-row">
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids" ng-repeat="g in gData.data">
				<a href="{{g.img_url}}" class="imghvr-hinge-right figure">
					<img src="{{g.img_url}}" style="height: 20em; width: 30em;" alt="" title="{{g.title}}-{{g.comments}}"/>
					<div class="agile-figcaption">
					<h4>{{g.title}}</h4>
					    <p>{{g.comments}}</p>
					</div>
				</a>
			</div>
			
		
		
			
		
		
			
			<div class="clearfix"> </div>

		</div>
	</div>
	<!-- //gallery -->
	<!-- feedback -->
<div class="feedback_dot" id="clients">
	<div class=" feedback">
		<div class="container">
			<div class="agileits-title">
				<div class="agileits-title-left">
					<h6 class="two">- In Client Words</h6>
					<h3>Our Feedback</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para two">Thank you for valuable feedback. It's our pleasure got opportunty to work with you. </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			
				<div id="owl-demo"  class="carousel slide  fullwidth"  data-ride="carousel" data-interval="2000">
				
				<div class="carousel-inner col-lg-12 fullwidth"  role="listitem" >

					<div class="item"  data-ng-class="{active : $first}" data-ng-repeat="f in feedData.data">
							<div class="carousel-item active">
						<div class="icon-w3l" >
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
						<div class="feedback-info" >
							<div class="feedback-top" >
								<p> {{f.feedback_comment}} </p>
							</div>
							<div class="feedback-grids" >
								
								<div class="feedback-img-info" >
									<h5>{{f.customer_name}}</h5>
									<p>{{f.customer_address}}</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
							</div></div>
					</div>
					
				</div>
					
					
				</div>
			
		</div>
	</div>
</div>
<!-- //feedback -->

	<!-- contact -->
	<div id="contact" class="contact">
		<div class="container">
			<div class="agileits-title">
				<div class="agileits-title-left">
					<h6>-Write a message</h6>
					<h3>Contact Us</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para">To get in contact with us, please drop a your message and our executive will contact you shortly.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="contact-w3ls-row">
				<form action="/nonSSO_insertForm/8/6" method="post">
					<div class="col-md-5 col-sm-5 contact-right agileits-w3layouts">
						<textarea name="msg" placeholder="Message" required=""></textarea>
					</div>
					<div class="col-md-7 col-sm-7 contact-left agileits-w3layouts">
						<input type="text" name="fname" placeholder="First Name" required="">
						<input class="email" name="lname" type="text" placeholder="Last Name" required="">
						<input type="text" name="mob" placeholder="Mobile Number" required="">
						<input class="email" name="email" type="email" placeholder="Email" required="">
						<input type="submit" value="SUBMIT">
					</div>
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
	<!-- //contact -->
<div class="map-w3-agile">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.1458160556804!2d-0.3911149489042279!3d51.510540779535724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487672a61a4b68d9%3A0x640d060016bbb90!2s60+Ranelagh+Rd%2C+Southall+UB1+1DG%2C+UK!5e0!3m2!1sen!2sus!4v1557999110487!5m2!1sen!2sus"  frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<script src="/dist/web_js/web_custom_js.js"></script>


<% include ../include/web_footer.ejs
%>
