
<% include ../include/web_header.ejs
%>
			<ul class="cd-radial-slider" data-radius1="60" data-radius2="1364" data-centerx1="110" data-centerx2="1290">
				<li class="visible">
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-1">
									<circle id="cd-circle-1" cx="110" cy="400" r="1364"/>
								</clipPath>
							</defs>
							<image height='800px' width="1400px" clip-path="url(#cd-image-1)" xlink:href="dist/web_img/2_new.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper -->
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div>
								<h2>Lovely<span>and Clean Elegant</span> </h2>
								<a href="#about" class="hvr-bounce-to-right read scroll">Read More</a>
							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li>
				<li class="next-slide">
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-2">
									<circle id="cd-circle-2" cx="1290" cy="400" r="60"/>
								</clipPath>
							</defs>
							<image height='800px' width="1400px" clip-path="url(#cd-image-2)" xlink:href="dist/web_img/3_new.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper -->
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div>
								<h3>Quality <span> Design Couches </span> </h3>
								<a href="#about" class="hvr-bounce-to-right read scroll">Read More</a>

							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li>
				<li>
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-3">
									<circle id="cd-circle-3" cx="110" cy="400" r="60"/>
								</clipPath>
							</defs>
							<image height='800px' width="1400px" clip-path="url(#cd-image-3)" xlink:href="dist/web_img/1_new.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper -->
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div>
								<h3>New <span>Design Couches</span> </h3>
								<a href="#about" class="hvr-bounce-to-right read scroll">Read More</a>
							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li>
				<li class="prev-slide">
					<div class="svg-wrapper">
						<svg viewBox="0 0 1400 800">
							<title>Animated SVG</title>
							<defs>
								<clipPath id="cd-image-4">
									<circle id="cd-circle-4" cx="110" cy="400" r="60"/>
								</clipPath>
							</defs>
							<image height='800px' width="1400px" clip-path="url(#cd-image-4)" xlink:href="dist/web_img/4_new.jpg"></image>
						</svg>
					</div> <!-- .svg-wrapper -->
					<div class="cd-radial-slider-content">
						<div class="wrapper">
							<div>
								<h3>Select<span>Your Couches </span> </h3>
								<a href="#about" class="hvr-bounce-to-right read scroll">Read More</a>
							</div>
						</div>
					</div> <!-- .cd-radial-slider-content -->
				</li>
			</ul> <!-- .cd-radial-slider -->
			<ul class="cd-radial-slider-navigation">
				<li><a href="#0" class="next">Next</a></li>
				<li><a href="#0" class="prev">Prev</a></li>
			</ul> <!-- .cd-radial-slider-navigation -->
		</div> <!-- .cd-radial-slider-wrapper -->
	</div>
	<!-- //banner -->
	<!-- Modal1 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3>Cosy Couches</h3>
							<img src="dist/web_img/3.jpg" alt=" " class="img-responsive">
							<h5>Donec lobortis pharetra dolor</h5>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable..</p>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal1 -->

	<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<div class="agileits-title">
				<div class="agileits-title-left">
					<h6>- Welcome to</h6>
					<h3>Our Cosy Couches</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			 <div class="wthree-about">
				  <div class="col-md-5 wthree-ab-left">
				      <img src="dist/web_img/ab.jpg" class="responsive" alt=" " />
                  </div>
				  <div class="col-md-7 wthree-ab-right">
				     <h4>A Few Words About Us</h4>
				     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since.</p>
					 <a href="#" class="read2 hvr-bounce-to-right" data-toggle="modal" data-target="#myModal">Learn More</a>


				  </div>
				  <div class="clearfix"></div>
			 </div>
		</div>
	</div>
	<!-- //about -->
	<!-- stats -->
	<div class="stats" id="stats">
	    <div class="container">
			<div class="inner_w3l_agile_grids">
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid">
		   	<i class="fa fa-laptop" aria-hidden="true"></i>
			<p class="counter">45</p>
			<h3>Companies</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
		   <i class="fa fa-trophy" aria-hidden="true"></i>
			<p class="counter">165</p>
			<h3>Awards</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">

		 <i class="fa fa-smile-o" aria-hidden="true"></i>
			<p class="counter">563</p>
			<h3>Members</h3>
		</div>
		<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
		<i class="fa fa-user" aria-hidden="true"></i>
			<p class="counter">245</p>
			<h3>Customers</h3>
		</div>
		<div class="clearfix"> </div>
	</div>
   </div>
</div>
<!-- //stats -->

	<!-- services -->
	<div class="about services" id="services">
		<div class="container">
					<div class="agileits-title">
				<div class="agileits-title-left">
					<h6>- What We Offer</h6>
					<h3>Our Services</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para">We are offer below services.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		<div id="horizontalTab">
		<ul class="resp-tabs-list">
			<li><i class="fa fa-user" aria-hidden="true"></i> Free Consultation</li>
			<li><i class="fa fa-cog" aria-hidden="true"></i> Plumbing &amp; Electrical</li>
			<li><i class="fa fa-magic" aria-hidden="true"></i> Tiling &amp; Floor Heating</li>
			<li><i class="fa fa-gavel" aria-hidden="true"></i> Plastering, Skimming & Decoration</li>
		</ul>
		<div class="resp-tabs-container">

			<div class="tab1">
				<div class="col-md-6 tab-info-img">
						<img src="dist/web_img/s1.jpg" alt="img">
				</div>
				<div class="col-md-6 tab-info">
					     <h4>Design with 100% Pure Quality</h4>
						<p>We offer a one to one consultation to discuss your project and to understand what you want to achieve for your bathroom, the style, practicality and how you want your custom build to function. On appointment We will visit your home to take measurements of the room, check water pressures, electrics and makes structural observations.</p>

				</div>
				<div class="clearfix"></div>
			</div>

			<div class="tab2">

				<div class="col-md-6 tab-info">
					     <h4>Lorem ipsum dolor sit amet</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo.</p>

				</div>
				<div class="col-md-6 tab-info-img">
						<img src="dist/web_img/s2.jpg" alt="img">
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="tab3">

				<div class="col-md-6 tab-info-img">
						<img src="dist/web_img/s4.jpg" alt="img">
				</div>
				<div class="col-md-6 tab-info">
					     <h4>Lorem ipsum dolor sit amet</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo.</p>

				</div>
				<div class="clearfix"></div>
			</div>
			<div class="tab4">

				<div class="col-md-6 tab-info">
					     <h4>Lorem ipsum dolor sit amet</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo.</p>

				</div>
				<div class="col-md-6 tab-info-img">
						<img src="dist/web_img/s3.jpeg" alt="img">
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

		</div>
	</div>
	<!-- //services -->
	<!-- features -->
	<div class="features">
		<div class="tabs w3-agileits-tabs">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#home" aria-controls="home" data-toggle="tab"><span>Planned</span></a></li>
				<li><a href="#profile" aria-controls="profile" data-toggle="tab"><span>Creative</span></a></li>
				<li><a href="#messages" aria-controls="messages" data-toggle="tab"><span>Finishing</span></a></li>
				<li><a href="#settings" aria-controls="settings" data-toggle="tab"><span>Decorative</span></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
					<div class="col-md-6 features-right">
						<div class="agileits-mid">
							<h6>- Our Features</h6>
							<h3> Mauris commodo </h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-md-6 features-left agileinfo-img">

					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane" id="profile">
					<div class="col-md-6 features-right">
						<div class="agileits-mid">
							<h6>- Our Features</h6>
							<h3> Mauris commodo </h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-md-6 features-left agileinfo-img2">

					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane" id="messages">
					<div class="col-md-6 features-right w3-agile">
						<div class="agileits-mid">
							<h6>- Our Features</h6>
							<h3> Mauris commodo </h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-md-6 features-left agileinfo-img3">

					</div>
					<div class="clearfix"> </div>
				</div>
				<div role="tabpanel" class="tab-pane" id="settings">
					<div class="col-md-6 features-right">
						<div class="agileits-mid">
							<h6>- Our Features</h6>
							<h3> Mauris commodo </h3>
						</div>
						<p>Fusce eget erat nunc. Sed fringilla sem vitae mi interdum commodo. Aliquam neque odio, viverra eget nisl id, vulputate malesuada lorem. Praesent quis ullamcorper lorem vulputate malesuada lorem.  </p>
					</div>
					<div class="col-md-6 features-left agileinfo-img4">

					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div><!-- /tabs -->
	</div>
	<!-- //features -->
	<!-- team -->
	<div id="team" class="team">
		<div class="container">
			<div class="agileits-title">
				<div class="agileits-title-left">
					<h6>- About our Team</h6>
					<h3>Amazing Team</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="team-row w3ls-team-row">
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">
					<div class="w3ls-effect">
						<img src="dist/web_img/t1.jpg" alt="img">
						<div class="view-caption">
							<h4>John Smith</h4>
							<p>Designer</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">
					<div class="w3ls-effect">
						<img src="dist/web_img/t2.jpg" alt="img">
						<div class="view-caption">
							<h4>Rosy Doe</h4>
							<p>Director</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">
					<div class="w3ls-effect">
						<img src="dist/web_img/t3.jpg" alt="img">
						<div class="view-caption">
							<h4>Smith Kevin</h4>
							<p>Designer</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 team-grids">
					<div class="w3ls-effect">
						<img src="dist/web_img/t4.jpg" alt="img">
						<div class="view-caption">
							<h4>Laura Hill</h4>
							<p>Manager</p>
						</div>
						<div class="wthree-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->
	<!-- gallery -->
	<div id="gallery" class="gallery">
		<div class="container">
			<div class="agileits-title">
				<div class="agileits-title-left">
					<h6 class="two">- Latest Designs</h6>
					<h3>Our Gallery</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para two">Lorem ipsum dolor sit amet  consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="agileinfo-gallery-row">
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="dist/web_img/img6.jpg" class="imghvr-hinge-right figure">
					<img src="dist/web_img/img6.jpg" alt="" title="Cosy Couches Image"/>
					<div class="agile-figcaption">
					<h4>Cosy Couches</h4>
					    <p>For Good Looks</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="dist/web_img/img5.jpg" class="imghvr-hinge-right figure">
					<img src="dist/web_img/img5.jpg" alt="" title="Cosy Couches Image"/>
					<div class="agile-figcaption">
					<h4>Cosy Couches</h4>
					   <p>For Good Looks</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="dist/web_img/img7.jpg" class="imghvr-hinge-right figure">
					<img src="dist/web_img/img7.jpg" alt="" title="Cosy Couches Image"/>
					<div class="agile-figcaption">
					<h4>Cosy Couches</h4>
					   <p>For Good Looks</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="dist/web_img/img8.jpg" class="imghvr-hinge-right figure">
					<img src="dist/web_img/img8.jpg" alt="" title="Cosy Couches Image"/>
					<div class="agile-figcaption">
					<h4>Cosy Couches</h4>
					   <p>For Good Looks</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="dist/web_img/img1.jpg" class="imghvr-hinge-right figure">
					<img src="dist/web_img/img1.jpg" alt="" title="Cosy Couches Image"/>
					<div class="agile-figcaption">
					<h4>Cosy Couches</h4>
					   <p>For Good Looks</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="dist/web_img/img2.jpg" class="imghvr-hinge-right figure">
					<img src="dist/web_img/img2.jpg" alt="" title="Cosy Couches Image"/>
					<div class="agile-figcaption">
					<h4>Cosy Couches</h4>
					  <p>For Good Looks</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="dist/web_img/img3.jpg" class="imghvr-hinge-right figure">
					<img src="dist/web_img/img3.jpg" alt="" title="Cosy Couches Image"/>
					<div class="agile-figcaption">
					<h4>Cosy Couches</h4>
					    <p>For Good Looks</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
				<a href="dist/web_img/img4.jpg" class="imghvr-hinge-right figure">
					<img src="dist/web_img/img4.jpg" alt="" title="Cosy Couches Image"/>
					<div class="agile-figcaption">
					<h4>Cosy Couches</h4>
					   <p>For Good Looks</p>
					</div>
				</a>
			</div>
			<div class="clearfix"> </div>

		</div>
	</div>
	<!-- //gallery -->
	<!-- feedback -->
<div class="feedback_dot" id="clients">
	<div class=" feedback">
		<div class="container">
			<div class="agileits-title">
				<div class="agileits-title-left">
					<h6 class="two">- In Client Words</h6>
					<h3>Our Feedback</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para two">Lorem ipsum dolor sit amet  consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileits-feedback-grids">
				<div id="owl-demo" class="owl-carousel owl-theme">
					<div class="item">
						<div class="icon-w3l">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="dist/web_img/t1.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h5>Mary Jane</h5>
									<p>Vestibulum</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="icon-w3l">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="dist/web_img/t2.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h5>Peter guptill</h5>
									<p>Vestibulum</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="icon-w3l">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="dist/web_img/t3.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h5>Steven Wilson</h5>
									<p>Vestibulum</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="icon-w3l">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="dist/web_img/t1.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h5>Mary Jane</h5>
									<p>Vestibulum</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="icon-w3l">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="dist/web_img/t3.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h5>Peter guptill</h5>
									<p>Vestibulum</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="icon-w3l">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
						<div class="feedback-info">
							<div class="feedback-top">
								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="dist/web_img/t4.jpg" alt="" />
								</div>
								<div class="feedback-img-info">
									<h5>Steven Wilson</h5>
									<p>Vestibulum</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //feedback -->

	<!-- contact -->
	<div id="contact" class="contact">
		<div class="container">
			<div class="agileits-title">
				<div class="agileits-title-left">
					<h6>-Write a message</h6>
					<h3>Contact Us</h3>
				</div>
				<div class="agileits-title-right">
					<p class="para">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="contact-w3ls-row">
				<form action="#" method="post">
					<div class="col-md-5 col-sm-5 contact-right agileits-w3layouts">
						<textarea name="Message" placeholder="Message" required=""></textarea>
					</div>
					<div class="col-md-7 col-sm-7 contact-left agileits-w3layouts">
						<input type="text" name="First Name" placeholder="First Name" required="">
						<input class="email" name="Last Name" type="text" placeholder="Last Name" required="">
						<input type="text" name="Number" placeholder="Mobile Number" required="">
						<input class="email" name="Email" type="email" placeholder="Email" required="">
						<input type="submit" value="SUBMIT">
					</div>
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
	<!-- //contact -->
<div class="map-w3-agile">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1401095.1797624144!2d7.051648809385445!3d46.695591802572785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479aa7f454717f6d%3A0x452444bf73cbc87a!2sBest+of+Switzerland+Tours+AG!5e0!3m2!1sen!2sin!4v1494325075835"></iframe>
</div>


<% include ../include/web_footer.ejs
%>

<script src="../../dist/js/bath_custom.js">
