b<html>
<head>
<title id="title"></title>

      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <!-- Bootstrap 3.3.7 -->

    <link href="//fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400,500,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="../bower_components/css/font-awesome.css"  media="all">
    <link rel="stylesheet" href="../bower_components/css/style.css"  media="all">
      <!-- Font Awesome -->
      <!-- Ionicons -->

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>



      <![endif]-->
      <script src="ejs.js"></script>
      <script src="ejs.min.js"></script>
      <!-- Google Font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body ng-app="susApp"  ng-controller="loanCycleCtr">
    <h1 class="title-agile text-center" id="logo_heading"></h1>
    <div class="copyright text-center"> <p  id="logo_heading_bottom">Heading Bottom Line</p>
       </div>
    <div class="content-w3ls">
        <div class="content-top-agile">
            <h2 id="sign_div_heading">sign in</h2>
        </div>
        <div class="content-bottom">
            <form action="#" id="forgetPassword_form"  method="post">
                 <div class="field-group" style="display: none;" >
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input  id="hash" name="|new_password"  type="text" value="<%=hash%>" placeholder="hash" required>
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input  id="text1" name="!new_password" type="password" value="" placeholder="New Password" required>
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="new_password" id="new_password" type="Password" placeholder="Renter Password" required>
                    </div>
                </div>


                <div class="wthree-field">
                    <input id="saveForm" name="saveForm" type="submit" value="sign in" />
                </div>
            </form>
        </div>
    </div>
   <div class="copyright text-center">
        <p id="footer_line">
        </p>
    </div>

</body>
<!-- //Body -->

  <% include ../include/globalization.ejs
    %><!-------Globalization must be included at the end of Page---->

<!-- jQuery 3 -->

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script >


function langData() {

    $.ajax({
            type: "GET",
            url: "/getHotelsList",
            contentType: 'application/json',
            success: function (result) {
                //alert('d');
               // $('#hlist').empty();
                //alert(JSON.stringify(result));
                for (var i = 0; i < result["data"].length; i++) {

                    $('#hlist').append('<option value="'+result["data"][i].location_id+'">'+result["data"][i].hotel_name+'</option>');

                }
                hideLoad();




            }
        }
    );

}
langData();
</script>
          </html>
