<!DOCTYPE html>
<html lang="en">
<head>

  <script src="dist/js/angular.js"></script>
<title>MB Bathroom's | London's Best Bathroom maker's.</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="MB Bathrooms" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="dist/web_css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="dist/web_css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="dist/web_css/slider.css" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" href="dist/web_css/owl.carousel.css" type="text/css" media="all">
<link href="dist/web_css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link href='dist/web_css/simplelightbox.min.css' rel='stylesheet' type='text/css'>
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="dist/web_css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:100i,300,300i,400,400i,700" rel="stylesheet">
<!-- //web-fonts -->
<script src="ejs.js"></script>
<script src="ejs.min.js"></script>
</head>
<body ng-app="susApp" ng-init="rate=0;tam=0;tim=1;" ng-controller="MBCtrl">
	<!-- banner -->
	<div class="banner" id="home">
		<div class="cd-radial-slider-wrapper">
		   <div class="top_header">
		  		<nav class="navbar navbar-default">
						<div class="navbar-header navbar-left">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!--<h1><a class="navbar-brand" href="index.html"><span>MB</span> <i>BATHROOM'S</i></a></h1>
						-->
					<span><image src="dist/web_img/logo_70x70.png" class="img"></image></span></div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
							<nav class="link-effect-2" id="link-effect-2">
								<ul class="nav navbar-nav">
									<li class="active"><a href="index.html"><span data-hover="Home">Home</span></a></li>
									<li><a href="#about" class="scroll"><span data-hover="About">About</span></a></li>
									<li><a href="#gallery" class="scroll"><span data-hover="Gallery">Gallery</span></a></li>
									<li><a href="#services" class="scroll"><span data-hover="Services">Services</span></a></li>
									<li><a href="#clients" class="scroll"><span data-hover="Clients">Clients</span></a></li>
									
									
									<li><a href="#contact" class="scroll"><span data-hover="Contact">Contact</span></a></li>
								</ul>
							</nav>
						</div>
						<!-- cd-search -->
									<!--<div class="cd-main-header">
										<ul class="cd-header-buttons">
											<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
										</ul> <!-- cd-header-buttons -->
									<!--</div>-->
									<div id="cd-search" class="cd-search agileinfo">
										<form action="#" method="post">
											<input name="Search" type="search" placeholder="Click enter after typing...">
										</form>
									</div>
									<!-- //cd-search -->
					</nav>

		   </div>
         <!-- //header -->
